* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  background-color: rgb(220, 220, 220);
}

.container {
  margin: 0 auto;
  height: 100vh;
  width: 90%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h1 {
    // color: red;
  }
}
